@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header{
    height: 30px;
    width: auto;
    display: flex;
    font-size: 1.3em;
    position: relative;
    padding-top: 1%;
    padding-bottom: 7%;
}

header div{
    display: inline-flex;
    justify-content: space-between;
    padding: 0 17px;
}

header a{
    color: white;
    text-decoration: none;
}

header .ultimo{
    position: absolute;
    right: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to left, #333399, #359d7b);
    justify-content: center;
    align-items: center;
    display: block;
}

.content{
    position: relative;
    color: white;
    display: grid;
    text-align: center;
}

.content h1{
    font-size: 3.5em;
}

.content table{
    border: 0.5px dashed white;
    padding: 5px;
    font-size: 1em;
}

.content table th{
    padding: 0 10px 7px 10px;
    width: min-content;
}

.content table tr{
    font-size: 1em;
}
